<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
    <listener class-name="Resources.Listener"></listener>
	<listener class-name="Resources.ExtentReporterNG"></listener>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="Appium.Assignment.SignIn"/>
      <class name="Appium.Assignment.AddProductToCart"/>
      <class name="Appium.Assignment.SignOut"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->

